<h1>Questions#ask</h1>

<form action="/answer">
  <label for="question">Speak to your coach</label>
  <input type="text" id="question" name="query" placeholder="Type your question">
  <input type="submit" value="Go on!">
</form>
